<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <h1>Test</h1>
  <script defer src="{{url_for('static',filename='face-api.min.js')}}"></script>
  <script defer src="{{url_for('static',filename='script.js')}}"></script>
  <style>
    .video {
        width: 60%;
        height: auto;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 20%;
      }

      .canvas {
        width: 60%;
        height: auto;
        position: absolute;
        top: 0;
        left: 20%;
        z-index: 10;
      }
  </style>
</head>
<body>
    <div class="container w3-center">
        <video class="video" id="video" autoplay muted></video>
        <canvas class="canvas" id="videoCanvas"></canvas>
    </div>
</body>
</html>